body {
	margin: 0;
}

h1 {
	background-color: rgb(120,120,120);
	color: white;
	font-family: 'Comic Sans MS', cursive, sans-serif;
	font-size: 200%;
	text-align: center;
	text-shadow: 3px 3px 5px black;
	border: 2px solid black;
	padding: 10px;
	margin: 0;
}

ul {
	list-style-type: none;
	background-color: rgb(180,180,180);
	color: white;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	text-align: center;
}

li a {
	color: white;
	text-decoration: none;
	font-family: 'Comic Sans MS', cursive, sans-serif;
	display: inline-block;
	text-align: center;
	padding: 10px 0px;
	width: 100%;
	margin: 0;
	text-shadow: 2px 2px 5px black;
}

li a:hover {
    background-color: rgb(120,120,120);
    width: 100%;
    text-decoration: underline;
    transition-duration: 0.4s;
}

.button {
	cursor: pointer;
	color: white;
	font-family: 'Comic Sans MS', cursive, sans-serif;
	background-color: rgb(76,175,80);
	font-size: 13px;
	padding: 5px 10px;
	border: 1px solid rgb(60,140,64);
	border-radius: 4px;
	transition-duration: 0.4s;
	width: 172px;
}

.button:hover {
	background-color: rgb(60,140,64);
}

.campuri {
	border-radius: 4px;
	border: 1px solid black;
	height: 20px;
}

.textarea {
	border-radius: 4px;
	border: 1px solid black;
}

/*body {
	margin: 0;
}

header{
	
	float: left;
	height: 100vh;
	background-position: center;
	background-size: cover;
	width: 100%;
	opacity: 0.7;

}

body {
   
    background: url(ig.jpg) no-repeat center center fixed ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}

header .center{
	display: table-cell;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
.cautare {
	margin-bottom: 5%;
	text-align: center;
}
h2{
	color: rgb(145,145,145);
	font-size: 60px;
	font-weight: bold;
	margin-bottom: 23%;
	margin-top: 0%;
	text-transform: uppercase;
	
}
h3{
	color: rgb(145,145,145);
	
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 0;
	text-transform: uppercase;
	
}
h1 {
	background-color: rgb(120,120,120);
	color: white;
	font-family: 'Comic Sans MS', cursive, sans-serif;
	font-size: 200%;
	text-align: center;
	border: 2px solid black;
	padding: 10px;
	margin: 0;
}

ul {
	list-style-type: none;
	background-color: rgb(180,180,180);
	color: white;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	text-align: center;
}
li img{
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	text-align: center;
}
li a {
	color: white;
	text-decoration: none;
	font-family: 'Comic Sans MS', cursive, sans-serif;
	display: inline-block;
	text-align: center;
	padding: 10px 0px;
	width: 100%;
	margin: 0;
}

li a:hover {
    background-color: rgb(120,120,120);
    width: 100%;
}





#lista-petitii .petitie .description {
	float: left;
	width: 100%;
	
}
#lista-petitii .box{
	margin-left: 5%;
	margin-left: 5%;
	float: left;
	width: 90%;
	opacity: 0.9;

}
#lista-petitii .petitie{
	float: left;
	text-align: center;
	display: inline-block;
	border:1px solid grey;
    margin-left:auto;
    margin-right:auto;
    position: relative;
    width:100%;
    margin-bottom: 20px;
    background-color:  rgb(220,220,220);
    box-shadow: 10px  10px 19px rgba(0,0,0,0.2);
}
#lista-petitii .description{
	float: left;

}
#lista-petitii .text{
	margin-right: 1%;
	margin-left: 5%;
	float: left;
	}

#lista-petitii .box .description .imagine{

    width:  75%;

}


#lista-petitii button {
	cursor: pointer;
	color: white;
	font-family: 'Comic Sans MS', cursive, sans-serif;
	background-color: rgb(76,175,80);
	font-size: 13px;
	padding: 5px 10px;
	border: 1px solid rgb(60,140,64);
	border-radius: 4px;
	transition-duration: 0.5s;
	width: 172px;
}

#lista-petitii button:hover {
	background-color: rgb(60,140,64);
}
*/