<!DOCTYPE html>
<html>
<head>
	<title>Pagina admin</title>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		body {
			background-color: rgba(180,180,180,0.3);
		}

		table, td, th {
    		border: 1px solid black;
		}

		table {
    		border-collapse: collapse;
    		width:95%;
    		margin: 0% 2% 0% 2%;
		}

		th {
    		height: 50px;
		}

		td {
			text-align: center;
		}

		h2 {
			color: black;
			font-family: 'Comic Sans MS', cursive, sans-serif;
			text-align: center;
			font-size: 300%;
			text-shadow: 3px 3px 5px rgb(120,120,120);
			margin-top: 2%;
		}

	</style>
</head>
<body>

<h1>Petitii online</h1>

<ul>
	<li><a href="acasa.html"><i class="fa fa-home" aria-hidden="true"></i> Acasa</a></li>
	<li><a href="creeaza_petitie.html"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Creeaza petitie</a></li>
	<li><a href="lista_petitii.html"><i class="fa fa-list" aria-hidden="true"></i> Lista petitii</a></li>
	<li><a href="login.html"><i class="fa fa-sign-in" aria-hidden="true"></i> Log in | Inregistrare</a></li>
</ul>

<h2>Raport petitii</h2>

<table>
  <tr>
    <th>Denumire petitie</th>
    <th>Numar semnaturi</th>
    <th>Valabilitate</th>
    <th>Domeniu</th>
    <th>Data expirare</th>
  </tr>
  <tr>
    <td>Salvati balenele albastre!</td>
    <td>1253</td>
    <td>DA</td>
    <td>Ecologic</td>
    <td>17.08.2018</td>
  </tr>
  <tr>
    <td>Opriti taxa de timbru pe cultura!</td>
    <td>564</td>
    <td>DA</td>
    <td>Cultura</td>
    <td>01.01.2018</td>
  </tr>
  <tr>
    <td>Suntem impotriva OUG 13/2017 de modificare a Codului Penal</td>
    <td>8976</td>
    <td>DA</td>
    <td>Legislativ</td>
    <td>17.08.2017</td>
  </tr>
  <tr>
    <td>Moldova vrea autostrada!</td>
    <td>87625</td>
    <td>DA</td>
    <td>Economic</td>
    <td>01.04.2025</td>
</tr>
<tr>
    <td>Spune NU desfiintarii SMURD</td>
    <td>9827</td>
    <td>DA</td>
    <td>Social</td>
    <td>28.05.2019</td>
  </tr>
</table>

</body>
</html>